body {
    display: flex;
    flex-direction: column;
    background-color: #f4dc72;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Cabeçalho da página contendo título e logo. */
header {
    display: flex;

    /* background-color: green; */
    background-color: #353d30;
    padding: 1rem 0.5rem;
    gap: 10px;

    margin-bottom: 20px;

    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
}

header h1 {
    margin-right: auto;
    color: white;
}

header #logo {
    width: 40px;
    object-fit: contain;
    margin: auto 0 auto auto;
}
/* FIM DO CABEÇALHO */



/* Estilo da área de adicionar nova tarefa */
#container-novaTarefa {
    display: flex;
    flex-direction: column;
    width: 30%;

    margin: 40px auto 40px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;

    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
}

#titulo-novaTarefa {
    width: 100%;
    height: fit-content;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;

    color: #4d4d4d;
}

#holder-novaTarefa {
    display: flex;
}

#input-novaTarefa {
    width: 80%;
    height: 20px;
    margin: 15px auto;

    outline: none;
    border: none;
    border-bottom: 2px solid #4d4d4d;
    transition: border-bottom .5s;
}

#input-novaTarefa:focus-visible {
    outline: none;
    border: none;
    border-bottom: 2px solid #ecba13;
    /* border-bottom: 2px solid #2a79b6; */
    transition: border-bottom .3s;
}

#botao-novaTarefa {
    width: 30%;
    height: 40px;
    margin: 0 auto;

    border: none;
    border-radius: 20px;
    background-color: rgb(42, 157, 42);
    color: white;
    cursor: pointer;

    font-size: 15px;
    font-weight: bold;
    transition: filter .2s, transform .2s;
}

#botao-novaTarefa:hover {
    filter: brightness(0.9);
    transform: scale(1.1);
    transition: filter .2s, transform .2s;
}

#botao-novaTarefa:active {
    transform: translateY(2px);
    transition: transform .2s;
}
/* FIM DO CONTAINER DE NOVA TAREFA */



/* Container de tarefas */
#container-tarefas {
    display: flex;
    flex-direction: column;
    width: 75%;

    margin: 20px auto auto auto;
    padding: 20px;

    border-radius: 5px;
    background-color: #ffffff;

    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
}

.tarefa {
    display: flex;
    position: relative;

    min-height: 75px;
    background-color: #96b4cc;

    padding: 0 20px;
    border-radius: 10px;

    transition: opacity .3s;
}

.tarefa-nome {
    margin: auto 0 auto 0;
    color: black;
    font-size: 18px;
    font-weight: bold;

    max-width: 90%;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.tarefa-check {
    width: 20px;
    height: 20px;
    margin: auto 3rem auto auto;

    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: green;
}

.tarefa-excluir {
    position: absolute;
    top: .75rem;
    right: .75rem;

    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;

    transition: transform .2s, color .2s;
}

.tarefa-excluir:hover {
    transform: scale(1.2);
    transition: transform .2s, color .4s;
    color: red;
}

.tarefa-concluida {
    transition: opacity .3s;
    opacity: 0.5;
}

.tarefa-concluida:hover {
    opacity: 1;
    transition: opacity .3s;
}

.tarefa-concluida .tarefa-nome {
    text-decoration: line-through;
}

.tarefa:not(:last-child) {
    margin-bottom: 10px;
}

#texto-semTarefas {
    margin: 40px auto;
    font-size: 20px;
    font-weight: bold;
}
/* FIM DO ESTILO DO CONTAINER DE TAREFAS */

/* AJUSTES PARA RESPONSIVIDADE EM TELAS MENORES */
@media (max-width: 1300px) {
    #container-novaTarefa {
        width: 75%;
    }

    #botao-novaTarefa {
        width: 50%;
    }

    #texto-semTarefas {
        font-size: 15px;
        text-align: center;
    }

    .tarefa-nome {
        max-width: 70%;
    }

    .tarefa-check {
        margin: auto 2.5rem auto auto;
    }

    .tarefa-excluir {
        font-size: 20px;
    }
}