body {
    /* background-color: #84a4c2; */
    background-color: #f4dc72;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Cabeçalho da página contendo título e logo. */
header {
    display: flex;

    /* background-color: green; */
    background-color: #353d30;
    padding: 1rem 0.5rem;
    gap: 10px;

    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.48);
}

header h1 {
    margin-right: auto;
    color: white;
}

header #logo {
    width: 40px;
    object-fit: contain;
    margin: auto 0 auto auto;
}
/* FIM DO CABEÇALHO */



/* Estilização dos containers e classes das tarefas */
.container-tarefas {
    display: flex;
    margin: 20px 5rem;
    padding: 20px 30px;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    border-radius: 5px;
    background-color: #84a4c2;
    /* background-color: #ffffff9d; */
}

.texto-semTarefas {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: auto;
}

.tarefa {
    display: flex;
    flex-direction: row;
    width: 100%;

    padding: 10px 0;
    background-color: white;
    align-items: center;
    /* border-radius: 5px; */
}

.tarefa .tarefa-titulo {
    margin-left: 1rem;
}

.tarefa-containerBotoes {
    margin: 0 1rem 0 auto;
}

.tarefa-containerBotoes button {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/* FIM DA ESTILIZAÇÃO DAS TAREFAS */



/* Botão flutuante de adicionar tarefa */
#botao-novaTarefa {
    position: fixed;
    bottom: 30px;
    right: 30px;

    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(38, 177, 38);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

#botao-novaTarefa:hover {
    transition: transform 0.3s;
    filter: brightness(0.9);
    transform: scale(1.1);
}

#botao-novaTarefa:active {
    transform: translateY(-5px);
}
/* FIM DO BOTÃO FLUTUANTE */



/* "Popup" de adicionar tarefa */
#popup-novaTarefa {
    display: none;
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.400);
    width: 100%;
    height: 100vh;

    animation: fadeIn .2s forwards;
}

#popup-container {
    width: 50%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 20px;
    background-color: #353d30;
    border-radius: 20px;
}

#popup-container h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#popup-holder-input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}

#popup-holder-input label {
    font-size: 16px;
    color: white;
}

#popup-holder-input input {
    height: 2rem;
    font-size: 16px;
    padding: 5px;
}

#popup-botaoAdicionar {
    width: 50%;
    height: 50px;
    margin: 10px auto;
}
/* FIM DO POPUP */


/* FRAMES DAS ANIMAÇÕES */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}
/* FIM DOS FRAMES DAS ANIMAÇÕES */